@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Montserrat:wght@400;500;600;700&display=swap');

  body {
    font-family: 'montserrat', sans-serif;
	  background-color: #EEEDED;
    letter-spacing: 2;
    line-height: 2;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', sans-serif;
  }

}